<p>Do you know magic? Are you brave warrior? Are you human, or a mythical creature like a dragon or fairy or elf?</p>

<p class="margin-bottom-small">If you know magic, what are two or three spells you know? Here are a few ideas to get you started (<em>don't take them all, you'll pick up more as you play</em>).</p>

<ul>
	<li><strong>Magic Missiles.</strong> A blast of magic energy shoots from your hands.</li>
	<li><strong>Wave of Thunder.</strong> A wave of sound shoots out from you, pushing everyone near you 15’ back.</li>
	<li><strong>Sleep.</strong> Make one large monster, two medium ones, or four small ones fall asleep.</li>
	<li><strong>Illusion.</strong> You create a small illusory sight or sound that lasts for about a minute.</li>
	<li><strong>Heal.</strong> Heal a creature you can touch.</li>
	<li><strong>Tangle of Vines.</strong> A tangle of vines 15’ wide grows and restrains any creatures in the&nbsp;area.</li>
	<li><strong>Speak with Nature.</strong> Place your hands on an animal, plant, body of water, stone, or other natural element and learn about recent events from it.</li>
</ul>