{{ .Scratch.Set "letter" 0 }}
<ul class="list-inline">
{{ range $key, $creature := $.Site.Data.creatures }}
	{{ if ne ($.Scratch.Get "letter") (slicestr $key 0 1) }}
	{{ $.Scratch.Set "letter" (slicestr $key 0 1) }}
	<li><a class="link-no-underline" href='#{{ $.Scratch.Get "letter" }}'>{{ $.Scratch.Get "letter" | upper }}</a></li>
	{{ end }}
{{ end }}
</ul>

{{ .Scratch.Set "letter" 0 }}
{{ range $key, $creature := $.Site.Data.creatures }}
	{{ if ne ($.Scratch.Get "letter") (slicestr $key 0 1) }}
	{{ $.Scratch.Set "letter" (slicestr $key 0 1) }}
	<h2 id='{{ $.Scratch.Get "letter" }}'>{{ $.Scratch.Get "letter" | upper }}</h2>
	{{ end }}

	<article class="margin-bottom">
		<strong>{{ index $creature 0 }}</strong><br>
		Attack {{ index $creature 1 }} &middot; Defend {{ index $creature 2 }} &middot; HP {{ index $creature 3 }}
		{{ if (index $creature 4) }}<br><em>{{ index $creature 4 }}</em>{{ end }}
	</article>
{{ end }}