{{- $.Scratch.Set "monster" "" -}}
{{- $.Scratch.Set "name" (.Get "name") -}}
{{- range $.Site.Data.monsters -}}
	{{- if eq .name ($.Scratch.Get "name") -}}
		{{- $.Scratch.Set "monster" . -}}
	{{- end -}}
{{- end -}}

{{- if eq ($.Scratch.Get "monster") "" -}}
<strong>{{ .Get "name" }}</strong>
{{- else -}}
<strong>{{ index ($.Scratch.Get "monster") "name" }}</strong> &middot; {{ index ($.Scratch.Get "monster") "hp" }} HP{{ if ne (index ($.Scratch.Get "monster") "traits") "" }}<br><em>{{ index ($.Scratch.Get "monster") "traits" }}</em>{{ end }}
{{- end -}}