{{- $.Scratch.Set "monster" "" -}}
{{- $.Scratch.Set "name" (.Get "name") -}}
{{- range $.Site.Data.monsters -}}
	{{- if eq .name ($.Scratch.Get "name") -}}
		{{- $.Scratch.Set "monster" . -}}
	{{- end -}}
{{- end -}}

{{- if eq ($.Scratch.Get "monster") "" -}}
<p class="no-margin-bottom"><strong>{{ .Get "name" }}</strong></p>
{{- else -}}
<p class="no-margin-bottom"><strong>{{ index ($.Scratch.Get "monster") "name" }}</strong></p>
<p class="no-margin-bottom">{{ index ($.Scratch.Get "monster") "damage" }} AD &middot; {{ index ($.Scratch.Get "monster") "hp" }} HP{{ if ne (index ($.Scratch.Get "monster") "armor") 0 }} &middot; {{ index ($.Scratch.Get "monster") "armor" }} AL{{ end }}</p>
{{ if ne (index ($.Scratch.Get "monster") "traits") "" }}<p class="no-margin-bottom"><em>{{ index ($.Scratch.Get "monster") "traits" }}</em></p>{{ end }}
{{- end -}}