{{ partial "header.html" . }}

	{{ partial "content-page.html" . }}

	<h2>Ready-to-Play Adventures</h2>

	<ul>
		{{- range .Pages.ByWeight -}}
		<li><a class="link-no-underline" href="{{ .URL }}">{{ .Title }}</a> <span class="text-muted">(<em>{{ lower .Params.duration }}</em>)</span></li>
		{{- end -}}
	</ul>

	<h2>Ideas</h2>

	<p>Here are some adventure ideas I haven't had time to write yet.</p>

	<ul>
		{{- range $.Site.Data.ideas -}}
		<li>{{ . }}</li>
		{{- end -}}
	</ul>

{{ partial "footer.html" . }}