<article>

	<h1>{{ .Title | htmlUnescape }}</h1>

	<p{{ if .Params.readyToPlay }} class="margin-bottom-small"{{ end }}>{{ markdownify .Params.premise }}</p>
	{{ if .Params.readyToPlay }}<p><em>{{ .Params.duration }} Duration</em></p>{{ end }}

	{{ if .Params.map }}<p><a class="btn download-map" href="/downloads/{{ .Params.map }}"><svg xmlns="http://www.w3.org/2000/svg"style="margin-bottom: -0.15em" width="1em" height="1em"><title></title><path fill="currentColor" d="M0 3l5-2v12l-5 2zM6 .5l5 3V15l-5-2.5zM12 3.5l4-3v12l-4 3z"/></svg> Download Maps</a></p>{{ end }}

	<div class="toc">
		<p class="margin-bottom-small"><strong>In this adventure...</strong></p>
		<ul>
			{{- if .Params.storyline -}}<li><a href="#storyline">Basic Storyline</a></li>{{- end -}}
			{{- if .Params.tips -}}<li><a href="#tips">Tips for the <em>Game Master</em></a></li>{{- end -}}
			{{- if .Content -}}<li><a href="#encounters">Locations &amp; Encounters</a></li>{{- end -}}
		</ul>
	</div>


	{{ if .Params.storyline }}
	<h2 id="storyline">Basic Storyline</h2>
	{{ if .Params.intro }}<p>{{ markdownify .Params.intro }}</p>{{ end }}
	<ol class="list-spaced">
		{{- range $plotpoint := .Params.storyline -}}
		<li>{{ markdownify $plotpoint }}</li>
		{{- end -}}
	</ol>
	{{ end }}

	{{ if .Params.villains }}<p class="margin-bottom-small"><strong>Villains:</strong> {{ delimit .Params.villains ", " }}</p>{{ end }}
	{{ if .Params.npcs }}<p><strong>Non-Player Characters:</strong> {{ delimit .Params.npcs ", " }}</p>{{ end }}

	{{ if .Params.tips }}
	<h2 id="tips">Tips for the <em>Game Master</em></h2>
	<ul class="list-spaced">
		{{- range $tip := .Params.tips -}}
		<li>{{ markdownify $tip }}</li>
		{{- end -}}
	</ul>
	{{ end }}


	<h2 id="encounters">Locations &amp; Encounters</h2>

	{{ partial "intro.html" }}

	{{- if .Params.readyToPlay -}}
	<p>{{ markdownify .Params.premise }}</p>
	<p>{{ markdownify .Params.details }}</p>
	{{- end -}}

	{{ if .Params.startingEncounter }}<p><strong>Starting Encounter:</strong> {{ .Params.startingEncounter }}</p>{{ end }}

	{{ if .Params.optional }}<p><em class="text-small">Encounters marked "optional" add additional flavor to the adventure, but can be skipped with without disrupting the main storyline.</em></p>{{ end }}

	{{ .Content }}

</article>