<article>

	<h1>{{ .Title | htmlUnescape }}</h1>

	<p{{ if .Params.readyToPlay }} class="margin-bottom-small"{{ end }}>{{ markdownify .Params.premise }}</p>
	{{ if .Params.readyToPlay }}<p><em>{{ .Params.duration }} Duration</em></p>{{ end }}

	{{ if .Params.map }}<p><a class="btn download-map" href="/downloads/{{ .Params.map }}"><svg class="margin-right" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: -0.1em;" height="1em" width="1em" viewBox="0 0 16 16"><title></title><path fill="currentColor" d="M14 11v2H2v-2H0v4h16v-4zm-2-5H9V1H7v5H4l4 6z"></path></svg> Download Maps</a></p>{{ end }}

	<div class="toc">
		<p class="margin-bottom-small"><strong>In this adventure...</strong></p>
		<ul>
			{{- if .Params.storyline -}}<li><a href="#storyline">Basic Storyline</a></li>{{- end -}}
			{{- if or .Params.villains .Params.npcs -}}<li><a href="#creatures">Creatures</a></li>{{- end -}}
			{{- if .Params.tips -}}<li><a href="#tips">Tips for the <em>Game Master</em></a></li>{{- end -}}
			{{- if .Content -}}<li><a href="#encounters">Locations &amp; Encounters</a></li>{{- end -}}
		</ul>
	</div>


	{{ if .Params.storyline }}
	<h2 id="storyline">Basic Storyline</h2>
	{{ if .Params.intro }}<p>{{ markdownify .Params.intro }}</p>{{ end }}
	<ol class="list-spaced">
		{{- range $plotpoint := .Params.storyline -}}
		<li>{{ markdownify $plotpoint }}</li>
		{{- end -}}
	</ol>
	{{ end }}

	{{ if or .Params.villains .Params.npcs }}
	<h2 id="creatures">Creatures</h2>

	{{ if .Params.villains }}
	<p class="margin-bottom-small"><strong>Villains:</strong></p>
	<ul>
		{{ range $villain := .Params.villains }}
		{{ $stats := split $villain "||" }}

		<li>{{ index $stats 0 }}{{ if (index $stats 1) }} - <em>Attack: {{ index $stats 1 }}{{ if (index $stats 2) }} &middot; Defend: {{ index $stats 2 }}{{ end }}{{ if (index $stats 3) }} &middot; Health Points: {{ index $stats 3 }}{{ end }}</em>{{ end }}</li>

		{{- if false -}}
		<li>{{ index $stats 0 }}{{ if (index $stats 1) }}: Attack - {{ index $stats 1 }}{{ end }}{{ if (index $stats 2) }}, Defend - {{ index $stats 2 }}{{ end }}{{ if (index $stats 3) }}, Health Points - {{ index $stats 3 }}{{ end }}</li>
		<li>
			{{ index $stats 0 }}
			{{ if (index $stats 1) }}
			<ul>
				<li>Attack: {{ index $stats 1 }}</li>
				{{ if (index $stats 2) }}<li>Defend: {{ index $stats 2 }}</li>{{ end }}
				{{ if (index $stats 3) }}<li>Health Points - {{ index $stats 3 }}</li>{{ end }}
			</ul>
			{{ end }}
		</li>
		{{- end -}}
		{{ end }}
	</ul>
	{{ end }}
	{{ if .Params.npcs }}<p><strong>Non-Player Characters:</strong> {{ delimit .Params.npcs ", " }}</p>{{ end }}
	{{ end }}

	{{ if .Params.tips }}
	<h2 id="tips">Tips for the <em>Game Master</em></h2>
	<ul class="list-spaced">
		{{- range $tip := .Params.tips -}}
		<li>{{ markdownify $tip }}</li>
		{{- end -}}
	</ul>
	{{ end }}


	<h2 id="encounters">Locations &amp; Encounters</h2>

	{{ partial "intro.html" }}

	{{- if .Params.readyToPlay -}}
	<p>{{ markdownify .Params.premise }}</p>
	<p>{{ markdownify .Params.details }}</p>
	{{- end -}}

	{{ if .Params.startingEncounter }}<p><strong>Starting Encounter:</strong> {{ .Params.startingEncounter }}</p>{{ end }}

	{{ if .Params.optional }}<p><em class="text-small">Encounters marked "optional" add additional flavor to the adventure, but can be skipped with without disrupting the main storyline.</em></p>{{ end }}

	{{ .Content }}

</article>