<article>

	{{ if not .Params.noTitle }}
	<h1>{{ if eq .Kind "taxonomy" }}Articles on {{ end }}{{ .Title | htmlUnescape }}</h1>
	{{ end }}

	{{ if and ( eq .Type "adventures" ) ( eq .Kind "page" ) }}

		<p class="margin-bottom-small"><strong>Premise:</strong> {{ .Params.premise }}</p>
		<p><em>{{ humanize .Params.duration }} Duration</em></p>

		<div class="toc">
			<p class="margin-bottom-small"><strong>In this Adventure:</strong></p>
			<ul>
				<li><a href="#summary">Summary</a></li>
				<li><a href="#encounters">Encounters</a></li>
				<li><a href="#conclusion">Conclusion</a></li>
			</ul>
		</div>


		<h2 id="summary">Summary</h2>

		{{ if gt (len .Params.creatures) 0 }}
		<p class="margin-bottom-small"><strong>Creatures:</strong></p>
		<ul>
			{{- range $creature := .Params.creatures -}}
			<li>{{ $creature }}</li>
			{{- end -}}
		</ul>
		{{ end }}

		{{ if gt (len .Params.items) 0 }}
		<p class="margin-bottom-small"><strong>Gear & Items:</strong></p>
		<ul>
			{{- range $item := .Params.items -}}
			<li>{{ $item }}</li>
			{{- end -}}
		</ul>
		{{ end }}

		{{ if gt (len .Params.scenary) 0 }}
		<p class="margin-bottom-small"><strong>Scenary & Props:</strong></p>
		<ul>
			{{- range $scene := .Params.scenary -}}
			<li>{{ $scene }}</li>
			{{- end -}}
		</ul>
		{{ end }}

		{{ if .Params.map }}<p><a class="btn download-map" href="/downloads/{{ .Params.map }}">Download the Map</a></p>{{ end }}


		<h2 id="encounters">Encounters</h2>

		<p>{{ .Params.premise }}</p>
		<p>{{ .Params.details }}</p>

		<p><strong>Starting Encounter:</strong> {{ .Params.startingEncounter }}</p>

	{{ end }}

	{{ .Content }}

</article>