<article>

	<h1>{{ .Title | htmlUnescape }}</h1>

	<p class="margin-bottom-small">{{ markdownify .Params.premise }}</p>
	<p><em>{{ .Params.duration }} Duration</em></p>

	<div class="toc">
		<p class="margin-bottom-small"><strong>In this adventure...</strong></p>
		<ul>
			<li><a href="#background">Background</a></li>
			<li><a href="#encounters">Encounters</a></li>
			<li><a href="#conclusion">Conclusion</a></li>
		</ul>
	</div>


	<h2 id="background">Background</h2>

	{{ if .Params.intro }}<p>{{ markdownify .Params.intro }}</p>{{ end }}
	{{ if gt (len .Params.critical) 0 }}
	<p class="margin-bottom-small"><strong>Critical Encounters:</strong></p>
	<ol>
		{{- range $item := .Params.critical -}}
		<li>{{ markdownify $item }}</li>
		{{- end -}}
	</ol>
	{{ end }}

	{{ if gt (len .Params.tips) 0 }}
	<details>
		<summary class="margin-bottom-small"><strong>Tips for the <em>Guide</em></strong></summary>
		<ul>
			{{- range $tip := .Params.tips -}}
			<li>{{ markdownify $tip }}</li>
			{{- end -}}
		</ul>
	</details>

	<div class="print-only">
		<p class="margin-bottom-small"><strong>Tips for the <em>Guide</em>:</strong></p>
		<ul>
			{{- range $tip := .Params.tips -}}
			<li>{{ markdownify $tip }}</li>
			{{- end -}}
		</ul>
	</div>
	{{ end }}

	<details class="margin-bottom">
		<summary class="margin-bottom-small"><strong>Creatures, Scenery, & Props</strong></summary>

		{{ if gt (len .Params.creatures) 0 }}
		<p class="margin-bottom-small"><strong>Creatures:</strong></p>
		<ul>
			{{- range $creature := .Params.creatures -}}
			<li>{{ $creature }}</li>
			{{- end -}}
		</ul>
		{{ end }}

		{{ if gt (len .Params.scenery) 0 }}
		<p class="margin-bottom-small"><strong>Scenery:</strong></p>
		<ul>
			{{- range $scene := .Params.scenery -}}
			<li>{{ $scene }}</li>
			{{- end -}}
		</ul>
		{{ end }}

		{{ if gt (len .Params.props) 0 }}
		<p class="margin-bottom-small"><strong>Props:</strong></p>
		<ul>
			{{- range $prop := .Params.props -}}
			<li>{{ $prop }}</li>
			{{- end -}}
		</ul>
		{{ end }}
	</details>

	<div class="print-only">
		{{ if gt (len .Params.creatures) 0 }}
		<p class="margin-bottom-small"><strong>Creatures:</strong></p>
		<ul>
			{{- range $creature := .Params.creatures -}}
			<li>{{ $creature }}</li>
			{{- end -}}
		</ul>
		{{ end }}

		{{ if gt (len .Params.scenery) 0 }}
		<p class="margin-bottom-small"><strong>Scenery & Props:</strong></p>
		<ul>
			{{- range $scene := .Params.scenery -}}
			<li>{{ $scene }}</li>
			{{- end -}}
		</ul>
		{{ end }}

		{{ if gt (len .Params.props) 0 }}
		<p class="margin-bottom-small"><strong>Props:</strong></p>
		<ul>
			{{- range $prop := .Params.props -}}
			<li>{{ $prop }}</li>
			{{- end -}}
		</ul>
		{{ end }}
	</div>

	{{ if .Params.map }}<p><a class="btn download-map" href="/downloads/{{ .Params.map }}"><svg xmlns="http://www.w3.org/2000/svg"style="margin-bottom: -0.15em" width="1em" height="1em"><title></title><path fill="currentColor" d="M0 3l5-2v12l-5 2zM6 .5l5 3V15l-5-2.5zM12 3.5l4-3v12l-4 3z"/></svg> Download Maps</a></p>{{ end }}


	<h2 id="encounters">Encounters</h2>

	<p>{{ markdownify .Params.premise }}</p>
	<p>{{ markdownify .Params.details }}</p>

	<p><strong>Starting Encounter:</strong> {{ .Params.startingEncounter }}</p>

	{{ .Content }}

</article>