<h3>{{ .Get "title" }}</h3>

{{ .Inner }}

{{ if .Get "map" }}
<p class="margin-bottom-small"><strong>Map Reference:</strong></p>
<ol>
	{{ $references := split (.Get "map") "||" }}
	{{ range $reference := $references }}
	<li>{{ markdownify $reference }}</li>
	{{ end }}
</ol>
{{ end }}

{{ if .Get "encounters" }}
<p class="margin-bottom-small"><strong>Encounter Ideas:</strong></p>
<ul>
	{{ $encounters := split (.Get "encounters") "||" }}
	{{ range $encounter := $encounters }}
	<li>{{ markdownify $encounter }}</li>
	{{ end }}
</ul>
{{ end }}