			</div>
			{{ partial "fuck-ai.html" }}
		</main>

		<footer class="container container-large">
			<hr class="margin-bottom">
			{{ partial "nav-secondary.html" . }}
			<p class="text-small">Made with ❤️ in Massachusetts by <a href="https://gomakethings.com">Chris Ferdinandi</a>.</p>
		</footer>

		<script>
			{{ readFile "/themes/gmt/static/js/tableOfContents.js" | safeJS }}
			{{ readFile "/themes/gmt/static/js/swInit.js" | safeJS }}
			{{ readFile "/themes/gmt/static/js/print.js" | safeJS }}
		</script>
	</body>
</html>