			</div>
		</main>

		<footer class="container container-large">
			<hr class="margin-bottom">
			{{ partial "nav-secondary.html" . }}
			<p class="text-small">Made with ❤️ in Massachusetts by <a href="https://gomakethings.com">Chris Ferdinandi</a>.</p>
		</footer>

		<script>
			{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/tableOfContents.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/tableOfContents.js" | safeJS }}{{ end }}
			{{ if eq .URL "/adventure-app/" }}{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/app.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/app.js" | safeJS }}{{ end }}{{ end }}
			{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/swInit.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/swInit.js" | safeJS }}{{ end }}
			{{- if eq .Type "adventures" -}}{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/print.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/print.js" | safeJS }}{{ end }}{{- end -}}
		</script>
	</body>
</html>